body,div,p,span{font-size:14px;font-family:Helvetica,sans-serif,Arial;}
.block{display:block;width:100%;}
.panel{display:block;width:100%;position:fixed;}
.header{display:block;width:100%;position:fixed;top:0px;}
.footer{display:block;width:100%;position:fixed;bottom:0px;}
.navigation{display:block;width:100%;cursor:pointer;margin:5px;background:darkcyan;vertical-align:middle;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;}
.currentUr{background:gray;}
