body, div, p, span {
  font-size: 14px;
  font-family: Helvetica, sans-serif, Arial;
}

.block {
  display: block;
  width: 100%;
}

.panel {
  .block;
  position: fixed;
}

.header {
  .panel;
  top: 0px;
}

.footer {
  .panel;
  bottom: 0px;
}

.navigation {
  .block;
  cursor: pointer;
  margin: 5px;

  background: darkcyan;
  vertical-align: middle;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.currentUr {
  background: gray;
}